# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

# Keyboard name
config ZMK_KEYBOARD_NAME
	default "Muneeb's Dasbob"

# Always enable split
config ZMK_SPLIT
	bool
	default y

# Central role
config ZMK_SPLIT_ROLE_CENTRAL
	bool
	default y if SHIELD_DASBOB_LEFT || SHIELD_DASBOB_DONGLE

# Peripheral role
config ZMK_SPLIT_ROLE_PERIPHERAL
	bool
	default y if SHIELD_DASBOB_RIGHT || SHIELD_DASBOB_LEFT_PERIPHERAL || SHIELD_DASBOB_RIGHT_PERIPHERAL
    default n if SHIELD_DASBOB_DONGLE

# Dongle-specific
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
	int	
	default 2 if SHIELD_DASBOB_DONGLE

config ZMK_USB_ENABLED
    bool
    default y if SHIELD_DASBOB_DONGLE

config ZMK_LOG_ENABLED
    bool
    default y if SHIELD_DASBOB_DONGLE

config ZMK_LOGGING
    bool
    default y if SHIELD_DASBOB_DONGLE

config USB_DEVICE_PRODUCT
    string
    default "Dasbob Dongle" if SHIELD_DASBOB_DONGLE

config ZMK_BLE_ENABLED
	bool
	default y

config ZMK_USB_LOGGING
    bool
    default y if SHIELD_DASBOB_DONGLE

config USB_CDC_ACM
	bool
	default y if SHIELD_DASBOB_DONGLE

# Enable deep sleep, but only after long inactivity
config ZMK_SLEEP
    bool
    default y if SHIELD_DASBOB_LEFT_PERIPHERAL || SHIELD_DASBOB_RIGHT_PERIPHERAL

config ZMK_DEEP_SLEEP
    bool
    default y if SHIELD_DASBOB_LEFT_PERIPHERAL || SHIELD_DASBOB_RIGHT_PERIPHERAL

# Timeout before going to suspend (light sleep)
config ZMK_IDLE_SLEEP_TIMEOUT
    int
    default 30000 if SHIELD_DASBOB_LEFT_PERIPHERAL || SHIELD_DASBOB_RIGHT_PERIPHERAL  # 30s

# Timeout before going to deep sleep (from suspend)
config ZMK_DEEP_SLEEP_TIMEOUT
    int
    default 3600000 if SHIELD_DASBOB_LEFT_PERIPHERAL || SHIELD_DASBOB_RIGHT_PERIPHERAL  # 1h